@import '~bootstrap/scss/bootstrap';

.container-fluid {
}

.flex-row {
  justify-content: space-around;
}

div {
  border: 15px;
}

.checkmark {
  height: 130px;
  width: 500px;
  border: 3px solid black;
}

.vertical {
  border-radius: 50%;
  height: 130px;
  width: 5px;
  background: black;
}

.horizontal {
  border-radius: 50%;
  height: 5px;
  width: 500px;
  background: black;
}
